/*Testattu fyysisellä laitteella: 14 tuuman laptop*/
@media screen and (min-width: 801px){
.col_1{
float: left;
display: auto;
width: 30%;
margin-left: 1%;
margin-right: 1%;
}
.col_2{
float: left;
display: auto;
width: 30%;
margin-left: 1%;
margin-right: 1%;
}
.col_3{
float: left;
display: auto;
width: 30%;
margin-left: 1%;
margin-right: 1%;
}
img{
width: 330px;
height: 220px;
}
p{
width: 330px;	
}
h2{
width: 330px;
}
.lyhyt{
display: none;
}
.footer{
clear: both;
padding: 10px 0px 10px 0px;
}
.pitka{
font-size: 50px;
padding: 10px 0px 20px 10px;
}
.header i{
padding: 5px 5px 20px 0px;
}
}