body{
max-width:960px;
margin:auto;
font-family: Futura, sans-serif;
}
.nappula{
border-radius: 8px;
background-color: #F0E68C;
box-shadow: 2px 2px 2px 2px;
font-size: 16px;
}
.syotto{
border-radius: 8px;
box-shadow: 2px 2px 2px 2px;
font-size: 16px;
height: 18px;
width: 250px;
}
h1 {
text-align: center;
}
#syotto_center{
text-align: center;
}
ul{
list-style-type: none;
background-color: #8FBC8B;
}
fieldset{
background-color: #7B68EE;
font-size: 20px;
}