body {
font-size: 20px;
font-family: arial;
background-color: #adfab7;
}
label {
width: 160px;
display: block;
float: left;
}
#sivu {
display: table;
width: 100%;
}
#vasen {
display: table-cell;
vertical-align: top;
width: 45%;
}
#oikea {
display: table-cell;
vertical-align: top;
width: 55%;
}
fieldset {
width: 800px;
vertical-align: auto;
background-image: url(taustakuva.jpg);
}
.center {
margin: auto;
width: 50%;
}
img {
width: 100px;
height: 40px;
display: block;
margin-left: auto;
margin-right: auto;
}