@media screen and (max-width: 480px){
#center{
margin: left;
}
.laji{
width: 50px;
font-size: 10px;
}
.paiva{
width: 60px;
font-size: 10px;
}
.paikka{
width: 65px;
font-size: 10px;
}
#taulu{
font-size: 6px;
}
.nappula_lisaa{
font-size: 10px;
}
}